<div class="yui-b">

                       <div id="productsandservices" class="yuimenu">
                            <div class="bd">
                                <ul class="first-of-type">
                                    <li class="yuimenuitem first-of-type"><a class="yuimenuitemlabel" href="#communication">Companies</a>
                
                                        <div id="Companies" class="yuimenu">
                                            <div class="bd">
                                                <ul>

                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="../companies/new">Create Company</a></li>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="../companies">Show All Companies</a></li>

<!--                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="#">PIM</a>
                                                        <div id="pim" class="yuimenu">
                                                            <div class="bd">
                                                                <ul class="first-of-type">
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="http://mail.yahoo.com">Yahoo! Mail</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="http://addressbook.yahoo.com">Yahoo! Address Book</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="http://calendar.yahoo.com">Yahoo! Calendar</a></li>
                                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="http://notepad.yahoo.com">Yahoo! Notepad</a></li>

                                                                </ul>            
                                                            </div>
                                                        </div>                    
                                                    
                                                    </li>
                                                </ul>
                                            </div>
-->                                        </div>      
                                    
                                    </li>
                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="#">Categories</a>
                
                                        <div id="shopping" class="yuimenu">
                                            <div class="bd">                    
                                                <ul>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="../categories/new">Create Category</a></li>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="../categories">Show All Categories</a></li>
                                                </ul>
                                            </div>
                                        </div>                    
                                    
                                    </li>
                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="#">Parts</a>
                
                                        <div id="entertainment" class="yuimenu">

                                            <div class="bd">                    
                                                <ul>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="../parts/new">Create Part</a></li>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="../parts">Show All Parts</a></li>
                                                </ul>                    
                                            </div>
                                        </div>                                        
                                    
                                    </li>
                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="#">Users</a>

                
                                        <div id="information" class="yuimenu">
                                            <div class="bd">                                        
                                                <ul>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="../signup">Sign Up</a></li>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="../login">Login</a></li>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="../logout">Log out</a></li>
                                                    <li class="yuimenuitem"><a class="yuimenuitemlabel" href="../register">Register</a></li>
                                                </ul>                    
                                            </div>
                                        </div>                                        
                                    
                                    </li>
                                </ul>            
                            </div>
                        </div>
                    
                </div>
